<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ForAppStore</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>1.2.10</string>
	<key>CFBundleIdentifier</key>
	<string>com.sptci</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>(C) 2018 Rakesh Vidyadharan</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>PictureViewer</string>
	<key>CFBundleVersion</key>
	<string>1.2.10</string>
</dict>
</plist>
